---
import BaseSection from "../BaseSection.astro";
import Icon from "../Icon.astro";

const width = "1.75rem"
const color = "var(--accent-d)"
const interestWidth = "1.33rem"
---

<BaseSection title="Sobre mi">
  <Fragment slot="map-content">
    <div class="container">
      <div class="portrait">
        <div class="portrait-frame">
          <img src="./portrait.webp" alt="portrait" />
        </div>
        <div class="caption">
          <h2>Miqueas Moreno</h2>
        </div>
        <ul class="info">
          <li class="birth">
            <span><Icon iconName="Calendar" {width} {color} /></span>19
            de Enero, 1999
          </li>
          <li class="country"><span><Icon iconName="MapPin" {width} {color} /></span>Argentina</li>
          <li class="languages"><span><Icon iconName="Language" {width} {color} /></span>Español - Ingles</li>
        </ul>
        <footer class="interests">
          <h2>Interests</h2>
          <div>
            <span><Icon iconName="Pallete" width={interestWidth} {color} /></span>
            <span><Icon iconName="Joystick" width={interestWidth} {color} /></span>
            <span><Icon iconName="ChefHat" width={interestWidth} {color} /></span>
            <span><Icon iconName="Code" width={interestWidth} {color} /></span>
            <span><Icon iconName="Writing" width={interestWidth} {color} /></span>
            <span><Icon iconName="Book" width={interestWidth} {color} /></span>
            <span><Icon iconName="Barbel" width={interestWidth} {color} /></span>
          </div>
        </footer>
      </div>
      <div class="text">
        <p>
          Mi nombre es Miqueas, aunque mi circulo cercano me llaman Mike.
          Descubrí el mundo de la programación al darme cuenta de que los
          videojuegos que disfruto estan construidos a través de este
          apasionante proceso. Hoy en día, <b
            >me encuentro trabajando en diversos proyectos, algunos para
            clientes y otros de índole personal.</b
          >
        </p>
        <p>
          Entre mis logros más destacados, resalto el <b
            >desarrollo del sitio web para OceanDream, una inmobiliaria
            colombiana que requería una presencia digital para exhibir sus
            propiedades de manera atractiva.</b
          > Este proyecto marcó mi inicio trabajando para clientes, y estoy
          realmente complacido con el resultado obtenido.
        </p>
        <p>
          Mi objetivo es <b
            >crear experiencias digitales únicas que no solo satisfagan las
            necesidades del usuario, sino que también superen las expectativas.</b
          > Busco fusionar la creatividad con la funcionalidad, diseñando
          soluciones intuitivas y atractivas que destaquen en el vasto mundo
          digital.
        </p>
      </div>
    </div>
  </Fragment>
</BaseSection>

<style>
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  aside {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  img {
    max-width: 100%;
    aspect-ratio: 1 / 1.2;
    object-fit: cover;
    object-position: top;
  }
  .container {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .portrait {
    position: relative;
    align-self: center;
    width: 250px;
    border-radius: 1rem;
    border: 8px solid var(--secondary-d);
    background-color: var(--secondary-d);
  }
  .portrait-frame {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-d);
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
  }
  .caption {
    padding: 0.75rem;
    text-align: center;
    color: var(--primary-l);
    background-color: var(--secondary-d);
  }
  .caption h2 {
    font-size: 1.3rem;
  }
  .info {
    font-weight: 500;
    padding-inline: 0.75rem;
    background-color: var(--secondary-d);
    color: var(--primary-d);
  }
  .info li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .interests {
    padding-block: 0.3rem;
    padding-inline: 0.75rem;
    background-color: var(--secondary-d);
    color: var(--primary-d);
    overflow: hidden;
    border-radius: 0 0 1rem 1rem;
  }
  .interests > h2 {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }
  .text {
    max-width: 50ch;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media (max-width: 875px) {
    .container {
      flex-direction: column;
    }
  }
</style>
