---
import EmailButtons from "../EmailButtons.astro";
import Icon from "../Icon.astro";
import Modal from "../Modal.astro";

const width = "36px"
const fill = "var(--secondary-l)"

---

<header class="fixed-header">
  <a href="#" class="logo-container">
    <Icon iconName="Home" {width} {fill} />
  </a>
  <nav class="navigation-links">
    <a href="#">Home</a>
    <a href="#">Proyectos</a>
    <a href="#">Habilidades</a>
    <a href="#">Sobre mi</a>
  </nav>
  <aside class="social-media-links">
    <a target="_blank" href="https://www.linkedin.com/in/miqueas-moreno">
      <Icon iconName="LinkedIn" {width} {fill} />
    </a>
    <a target="_blank" href="https://www.github.com/Mike-eki">
      <Icon iconName="Github" {width} {fill} />
    </a>
    <Modal>
      <EmailButtons slot="modal-content"/>
      <Icon iconName="Email" {width} {fill} />
    </Modal>
  </aside>
  <span class="navigation-menu-icon">
    <svg
      class="hamburger"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M4 6h16"></path><path d="M7 12h13"></path><path d="M10 18h10"></path>
    </svg>
    <svg class="cross" viewBox="0 0 32 32">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M2 16C2 8.26801 8.26801 2 16 2C23.732 2 30 8.26801 30 16C30 23.732 23.732 30 16 30C8.26801 30 2 23.732 2 16ZM13.172 11.7574C12.7814 11.3668 12.1483 11.3668 11.7577 11.7574C11.3672 12.1479 11.3672 12.7811 11.7577 13.1716L14.5862 16L11.7577 18.8284C11.3672 19.219 11.3672 19.8521 11.7577 20.2427C12.1483 20.6332 12.7814 20.6332 13.172 20.2427L16.0004 17.4142L18.8288 20.2427C19.2193 20.6332 19.8525 20.6332 20.243 20.2427C20.6335 19.8521 20.6335 19.219 20.243 18.8284L17.4146 16L20.243 13.1716C20.6336 12.7811 20.6336 12.1479 20.243 11.7574C19.8525 11.3668 19.2193 11.3668 18.8288 11.7574L16.0004 14.5858L13.172 11.7574Z"
      ></path>
    </svg>
  </span>
  <aside class="navigation-menu">
    <nav class="navigation-menu-links">
      <a href="#">Home</a>
      <a href="#">Proyectos</a>
      <a href="#">Habilidades</a>
      <a href="#">Sobre mi</a>
    </nav>
  </aside>
</header>

<style>
  /* HEADER STYLES */

  .navigation-menu-icon {
    display: none;
    cursor: pointer;
    width: 36px;
    height: 36px;
  }
  .navigation-menu-icon svg {
    width: 36px;
    height: 36px;
    fill: var(--secondary-d);
    pointer-events: none;
  }

  /* --------- */

  .fixed-header {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    position: fixed;
    width: 100%;
    padding-block: 16px;
    z-index: 1;
    background: transparent;
    backdrop-filter: blur(15px);
  }

  .logo-container {
    height: 36px;
  }

  .navigation-links {
    display: flex;
    gap: 24px;
  }
  .navigation-links a {
    color: var(--secondary-d);
    font-weight: 600;
    position: relative;
  }
  .navigation-links a:hover {
    color: var(--accent-l);
  }


  .social-media-links {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .social-media-links a {
    height: 36px;
  }


  .navigation-menu {
    --padding-menu: 32px;
    --height-size-menu: 36px;
    --space: calc(var(--padding-menu) + var(--height-size-menu));
    position: fixed;
    z-index: 100;
    background-color: var(--primary-d);
    width: 100%;
    inset: 0;
    margin-top: calc(var(--space));
    clip-path: circle(0% at top left);
    transition: clip-path 500ms ease;
  }

  .navigation-menu-links {
    display: flex;
    flex-direction: column;
  }
  .navigation-menu-links a {
    text-align: center;
    padding-block: 32px;
    font-size: 24pt;
    color: var(--secondary-d);
    font-weight: 600;
  }

  @media (max-width: 770px) {
    .navigation-links {
      display: none;
    }

    .fixed-header {
      justify-content: space-between;
    }

    .navigation-menu-icon {
      display: inline;
    }

    .navigation-menu-icon.menu-open .hamburger {
      display: none;
    }
    .navigation-menu-icon .cross {
      display: none;
    }
    .navigation-menu-icon.menu-open .cross {
      display: inline;
    }

    .navigation-menu-icon.menu-open ~ .navigation-menu {
      clip-path: circle(150% at top left);
    }

    .social-media-links a:last-child {
      display: inline;
    }
  }
</style>

<script>
  document.querySelector(".fixed-header").addEventListener("click", (e) => {
    let isNavIcon = e.target.classList[0] === "navigation-menu-icon";

    if (isNavIcon) {
      e.target.classList.toggle("menu-open");
    } else if (e.target.nodeName === "A")
      document
        .querySelector(".navigation-menu-icon")
        .classList.toggle("menu-open");
  });
</script>
