---
import Pill from "../Pill.astro";
import skillsJson from "../../data/data.json";
import BaseSection from "../BaseSection.astro";
const width = "1.5rem";
const {
  skills: { techs, tools },
} = skillsJson;
---

<BaseSection title="Habilidades">
  <Fragment slot="map-content">
    <!-- {
      techs.map(({ iconName, fill, color, content }) => (
        <Pill {iconName} {fill} {color} {width}>
          {content}
        </Pill>
      ))
    }
    {
      tools.map(({ iconName, fill, color, content }) => (
        <Pill {iconName} {fill} {color} {width}>
          {content}
        </Pill>
      ))
    } -->
  </Fragment>
  <article class="grid">
    <h5 class="title item">Frontend</h5>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </article>
</BaseSection>


<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .item {
    width: 100px;
    height: 100px;
    background-color: var(--secondary-l);
  }
  .title {
    width: 100%;
    background-color: var(--accent-l);
    grid-column: 1 / 4;
  }
</style>
