---
import BentoItem from "./BentoItem.astro";
import BentoTitle from "./BentoTitle.astro";
import Icon from "./Icon.astro";

const width = "2.1rem"

const isCol = true
const isRow = true

const { area, title } = Astro.props;

---



<article class="grid">
  <BentoTitle {title}/>
  <BentoItem {isRow}>
    {
      area.map(({iconName, fill, color, content}, index) => {
        {return index <= 1 && 
          <span>
            <Icon {iconName} {width} {fill} {color}></Icon>
            <Fragment>{content}</Fragment>
          </span>
        }
      })
    }
  </BentoItem>
  <BentoItem>
    {
      area.map(({iconName, fill, color, content}, index) => {
        {return index === 2 && 
          <span>
            <Icon {iconName} {width} {fill} {color}></Icon>
            <Fragment>{content}</Fragment>
          </span>
        }
      })
    }
  </BentoItem>
  <BentoItem {isCol}>
    {
      area.map(({iconName, fill, color, content}, index) => {
        {return index >= 3 && index <= 4 && 
          <span>
            <Icon {iconName} {width} {fill} {color}></Icon>
            <Fragment>{content}</Fragment>
          </span>
        }
      })
    }
  </BentoItem>
  
  <BentoItem>
    {
      area.map(({iconName, fill, color, content}, index) => {
        {return index === 5 && 
          <span>
            <Icon {iconName} {width} {fill} {color}></Icon>
            <Fragment>{content}</Fragment>
          </span>
        }
      })
    }
  </BentoItem>
  <BentoItem>
    {
      area.map(({iconName, fill, color, content}, index) => {
        {return index === 6 && 
          <span>
            <Icon {iconName} {width} {fill} {color}></Icon>
            <Fragment>{content}</Fragment>
          </span>
        }
      })
    }
  </BentoItem>
  <BentoItem {isRow}>
    {
      area.map(({iconName, fill, color, content}, index) => {
        {return index >= 7 && index <= 8 && 
          <span>
            <Icon {iconName} {width} {fill} {color}></Icon>
            <Fragment>{content}</Fragment>
          </span>
        }
      })
    }
  </BentoItem>
  <BentoItem {isCol}>
    {
      area.map(({iconName, fill, color, content}, index) => {
        {return index >= 9 && index <= 10 && 
          <span>
            <Icon {iconName} {width} {fill} {color}></Icon>
            <Fragment>{content}</Fragment>
          </span>
        }
      })
    }
  </BentoItem>
  <BentoItem>
    {
      area.map(({iconName, fill, color, content}, index) => {
        {return index === 11 && 
          <span>
            <Icon {iconName} {width} {fill} {color}></Icon>
            <Fragment>{content}</Fragment>
          </span>
        }
      })
    }
  </BentoItem>
</article>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    place-items: center;
    grid-auto-rows: 100px;
    gap: 0.33rem;
    color: var(--secondary-l);
  }
  span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    margin: auto;
    font-size: .9rem
  }

  @media (max-width: 820px) {
    .grid {
      grid-template-columns: repeat(4,90px);
      grid-template-rows: repeat(4,90px);
    }
    span {
      font-size: .8rem;
    }
  }
  @media (max-width: 445px) {
    .grid {
      grid-template-columns: repeat(4,72px);
      grid-template-rows: repeat(4,72px);
    }
    span {
      font-size: .66rem;
    }
  }

  
</style>
