---
import Icon from "./Icon.astro";

const width = "2.5rem"

const { area, title } = Astro.props;
---

<article class="grid">
  <div class="item double-row">
    {
      area.map(({iconName, fill, color, content}, index) => {
        {return index <= 1 && 
          <span><Icon {iconName} {width} {fill} {color}></Icon>{content}</span>}
      })
    }
  </div>
  <div class="item">
    {
      area.map(({iconName, fill, color, content}, index) => {
        {return index === 2 && 
          <span><Icon {iconName} {width} {fill} {color}></Icon>{content}</span>}
      })
    }
  </div>
  <div class="item double-column">
    {
      area.map(({iconName, fill, color, content}, index) => {
        {return index >= 3 && index <= 5 && 
          <span><Icon {iconName} {width} {fill} {color}></Icon>{content}</span>}
      })
    }
  </div>
  <h3 class="item title double">{title}</h3>
  <div class="item">
    {
      area.map(({iconName, fill, color, content}, index) => {
        {return index === 6 && 
          <span><Icon {iconName} {width} {fill} {color}></Icon>{content}</span>}
      })
    }
  </div>
  <div class="item">
    {
      area.map(({iconName, fill, color, content}, index) => {
        {return index === 7 && 
          <span><Icon {iconName} {width} {fill} {color}></Icon>{content}</span>}
      })
    }
  </div>
  <div class="item double-row">
    {
      area.map(({iconName, fill, color, content}, index) => {
        {return index >= 8 && index <= 10 && 
          <span><Icon {iconName} {width} {fill} {color}></Icon>{content}</span>}
      })
    }
  </div>
  <div class="item double-column">
    {
      area.map(({iconName, fill, color, content}, index) => {
        {return index >= 11 && index <= 13 && 
          <span><Icon {iconName} {width} {fill} {color}></Icon>{content}</span>}
      })
    }
  </div>
  <div class="item">
    {
      area.map(({iconName, fill, color, content}, index) => {
        {return index === 14 &&
          <span><Icon {iconName} {width} {fill} {color}></Icon>{content}</span>}
      })
    }
  </div>
</article>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    place-items: center;
    grid-auto-rows: 100px;
    gap: 0.25rem;
    color: var(--secondary-l);
  }
  .item {
    width: 100%;
    height: 100%;
    border-radius: 0.33rem;
    background-color: var(--secondary-d);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-d);
    background-image: radial-gradient(at center, var(--accent-d) 0%, var(--primary-l) 300%)
  }
  .title {
        color: var(--primary-l);
        font-size: 2rem;
        background-image: linear-gradient(360deg, #84fab0 0%, #8fd3f4 100%);
    }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }
  .double-row span,
  .item span {
    flex-direction: column;
  }
  .double-row {
    grid-row: span 2;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--accent-l);
    background-image: linear-gradient(360deg, var(--primary-d), var(--accent-d));
  }
  .double-column {
    grid-column: span 2;
    justify-content: space-around;
    background: var(--accent-d);
    background-image: linear-gradient(360deg, var(--primary-d), var(--accent-d));
  }
  .double {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    background-color: var(--accent-l);
  }
</style>
