---
import Icon from "./Icon.astro";

const width = "1rem";
const color = "var(--primary-l)";
const email = 'miqueas.moreno2016@gmail.com'
  
---

<!-- Pulir componente -->
<aside>
  <button class="email-text" id="email">{email}</button>
  <div class="email-buttons-container">
    <a class="email-button" href="mailto:miqueas.moreno2016@gmail.com"
      ><Icon iconName="Send" {width} {color} /></a
    >
    <button class="email-button copy-btn" id="copy"
      ><Icon iconName="Copy" {width} {color} /></button
    >
    <button class="email-button">
      <Icon iconName="CV" {width} {color} />
    </button>
  </div>
</aside>

<style>
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
  }

  .email-text {
    font-weight: 600;
    cursor: pointer;
    background-color: var(--secondary-d);
    color: var(--primary-l);
    border-radius: 80px 3px;
    padding-block: 6px;
    padding-inline: 24px;
  }
  .email-buttons-container {
    display: flex;
    gap: 0.5rem;
  }

  .email-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-d);
    border-radius: 10px;
    padding: 0.75rem;
    cursor: pointer;
  }

  @media (max-width: 750px) {
    .email-text {
      font-size: 0.8rem;
    }
  }
  @media (max-width: 675px) {
    .email-text {
      font-size: 0.78rem;
    }
  }
  @media (max-width: 600px) {
    .email-text {
      font-size: 0.73rem;
    }
  }
  @media (max-width: 480px) {
    .email-text {
      font-size: 0.7rem;
    }
  }
</style>

<script>
  const email = 'miqueas.moreno2016@gmail.com'
  const copyBtns = document.querySelectorAll('.copy-btn')

  copyBtns.forEach((copyBtn) => {
    copyBtn.addEventListener('click', async () => {
      try {
      await navigator.clipboard.writeText(email);  
      console.log('Content copied to clipboard');  
    } catch (err) {  
      console.error('Failed to copy: ', err);  
    }  
    })
  })
  
</script>